img.poster-image {
  width: 300px;
  height: 450px;
}

.details {
  width: 600px;
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  img.poster-image {
    width: 150px;
    height: 225px;
  }

  .details {
    width: 250px;
  }
}

.datas {
  margin: 12px 0;

  .coutry {
    display: inline;
  }
}

.imdb-link {
  margin: 12px 0;
  width: fit-content;
}

.genre-labels {
  .label {
    display: inline;
    border-radius: 6px;
    background-color: #16697A;
    padding: 4px;
    width: auto;
  }
}

::ng-deep.mat-dialog-container {
  height: auto !important;
}
