img.poster-image {
  width: 300px;
  height: 450px;
}

.details {
  max-width: 600px
}

.datas {
  margin: 12px 0;

  .coutry {
    display: inline;
  }
}

.imdb-link {
  margin: 12px 0;
}

.genre-labels {
  .label {
    display: inline;
    border-radius: 6px;
    background-color: #16697A;
    padding: 4px;
    width: auto;
  }
}
