.container-fluid {
  background-color: #2e282a;
  color: #FFF4E9;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;

  label {
    font-size: x-large;
  }

  .search-input {
    background-color: #2e282a;
    color: #FFF4E9;
    border-bottom: 1px solid #242021;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
  }

  .search-input:focus {
    outline: none;
    border-bottom: 2px solid #FFF4E9;
  }
}
